#root {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #7C3AED;
  text-align: center;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family:sans-serif;
  border: 2px solid black;
}

h1 {
  text-align: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  align-items: flex-end;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2px;
  position: relative;
  background: #fff;
  transform-style:preserve-3d;
  transform:perspective(2000px);
  transition:1s;
  box-shadow:inset 100px 0 50px rgba(0,0,0,0.5);
}

.card:hover {
  box-shadow:0 10px 20px rgba(231, 8, 8, 0.19), 0 6px 6px rgba(206, 27, 27, 0.23);
  cursor: pointer;
  z-index:1111;
  transform:perspective(2000px) rotate(-10deg);
  box-shadow:inset 20px 0 50px rgba(0,0,0,0.5);
}

p {
  font-size: 20px;
}
h1 {
  font-size: 20px;
  margin:19px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
}

#moviesearch {
  margin-bottom: 5px;
  padding: 5px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 2px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  min-width: 15ch;
  max-width: 90ch;
  color:green;
  font-size: 18px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#moviesearch::placeholder { 
  color: rgba(196, 38, 125, 0.8);
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  opacity: 1;
}

#selectmovies {
  padding: 4px;
  margin-bottom: 5px;

}
.footer {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  overflow: hidden;
  bottom: 0;
  right: 0;


}

.movieLink{
  font-size: 20px;
  text-decoration: none;
  text-align: left;
}
a{
  font-size: 20px;
  text-decoration: none;
  margin-top: 5px;
  position:absolute;
  bottom: 10px;
  left: 10px;
  color: blueviolet;
}
#tv {
  position: relative;
  top:3px;
}

.flex{
  display: flex;
  align-items:center;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 10px;
  background-color: blueviolet;
}
.navbar {
  padding: 2px;
}
#moviescount {
  color:#fff;
  margin-left: 4rem;
  font-size: 20px;
  font-weight: 600;
}

input:focus { background:rgba(255, 255, 255, 0.8); }

/* select option css */
#selectmovies {
  width: 100%;
  min-width: 15ch;
  max-width: 42ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.25em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

#selectmovies::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}



#options {
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0 0;
  padding:0 0;
  list-style:none;
  border:1px solid #ccc;
  background-color:white;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
#options li {
  padding:0 6px;
  margin:0 0;
  padding:0 10px;
}
#options li:hover {
  background-color:#39f;
  color:white;
}

@media only screen and (max-width: 690px) {
  #root {
    display: grid;
    grid-template-columns: auto auto;
  }
  .card {
    width: 40%;
    height: 60%;
    padding: 78px;

  }
  img {
    width: 80%;
  }
  p{
    font-size: 12px;
  }
}